*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    
}
.container{
    background-color: rgb(24, 17, 17);
    height: 100%;
    width: 100%; 
    
}
.elem{
    height: 140px;
    width: 100pw;
    color: white;
    font-size: 60px;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: start;
    mix-blend-mode: difference;
    /* position: relative; */

    

}
.elem h1{
       z-index: 9;
       mix-blend-mode: difference;
}
.elem img {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    object-fit:cover ;
    object-position: center;
    position: absolute;
    transform: translate(-50% , -50%);
    /* transition: all linear 0.3s; */
    opacity: 0;
  pointer-events: none;
    transition: all linear 0.2s;
    
}
