body {
    width: 100%;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main h1{
    color: white;
    font-size: 150px;
    font-weight: 100;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cursor{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    transition: all 0.1s linear ;
    mix-blend-mode:difference;
}